@charset "UTF-8";

.header {
    width: 100%;
    margin: 0;

    padding: 0 1rem;

    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
}

.header div {
    width: 100%;
}

.header div h1 {
    text-transform: capitalize;
    font-size: 3.25rem;
    font-weight: 500;
}

.header div h2 {
    font-size: 2rem;
    font-weight: 400;
}

.header img {
    position: absolute;
    top: 4rem;
    right: 3.5rem;
}
