@charset "UTF-8";

.homeContainer {
    max-width: 90%;
    width: 95vw;
    height: 100%;

    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;

    background: green;

    overflow-y: scroll;
}
