@charset "UTF-8";

.homeContainer {
    max-width: 90%;
    width: 95vw;
    height: 100%;

    margin: 0 auto;

    display: flex;
    align-items: flex-start;
    justify-content: center;

    overflow-y: scroll;
    text-align:justify;
}

.homeContainer main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.5rem;
    padding: 3rem;
    position: relative;
}

.homeContainer main h3 {
    width: 100%;
    padding: .25rem .35rem;

    background: #c0c0c0;
    color: rgba(0, 0, 0, .48);

    font-weight: 700;
    font-size: 1.05rem;
}

.homeContainer main p {
    width: 100%;
    padding: .25rem .35rem;

    color: rgba(0, 0, 0, .78);

    font-weight: 500;
    font-size: 0.95rem;
}

.homeContainer main img {
    width: 90%;
    height: 290px;

    margin-left: 2rem;
    border-radius: 7px;

    filter: brightness(.9);
}

.homeContainer main img:hover {
    filter: brightness(.8);
}

.homeContainer main small {
    font-size: 1rem;
    color: rgba(0,0,0,0);
    position: absolute;
    clear: both;
}

.homeContainer video {
    margin-top: 2rem;
    margin-left: 8rem;

    height: 14rem;
    width: 25rem;
}

.homeContainer aside {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;

    background: #c0c0c0;

    padding: 1rem;
}

.homeContainer aside span {
    width: 100%;
    padding: .25rem .35rem;
    font-size: 1.25rem;

    background: #555;
    color: #fff;
}

.homeContainer aside section h3 {
    font-size: 2rem;
    color: rgba(0, 0, 0, .48);
}

.homeContainer aside video {
    margin-top: 2rem;
    margin-left: 2rem;

    height: 12rem;
    width: 22rem;
}

.homeContainer aside section {
    margin-top: 2rem;
}

.homeContainer aside section p {
    text-align: justify;
}
