@charset "UTF-8";

.photosContainer {
    max-width: 80%;
    width: 90vw;
    height: 100%;
    padding: 2rem;

    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.imageBar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.25rem;
}

.imageBar img {
    height: 4rem;
    border-radius: 1.25rem;
    cursor: pointer;
}

.imageBar img:hover {
    filter: brightness(.8);
}

.selectedImg {
    height: 30rem;
    border-radius: .75rem;
}
