<!DOCTYPE html>

<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="shortcut icon" href="../images/xsallus-favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="../styles/style.css">
        <link rel="stylesheet" href="../styles/photos.css">

        <script src="../javascript/funcoes.js"></script>

        <title>Google Glass</title>
    </head>

    <body> 
        <div id="interface">
            <header id="cabecalho">
                <hgroup>
                    <h1>Google Glass</h1>
                    <h2>A revolução do Google está chegando</h2>
                </hgroup>

                <img id="icon" src="../images/fotos.png" alt="google glass">

                <nav id="menu">
                    <h1>Menu Principal</h1>
                    <ul>
                        <li onmouseover="changePicture('home')" onmouseout="changePicture('fotos')"><a href="../index.html">Home</a>
                        <li onmouseover="changePicture('especificacoes')" onmouseout="changePicture('fotos')"><a href="specs.html">Especificações</a>
                        <li>Fotos</a>
                        <li onmouseover="changePicture('multimidia')" onmouseout="changePicture('fotos')"><a href="multimidia.html">Multimídia</a>
                        <li onmouseover="changePicture('contato')" onmouseout="changePicture('fotos')"><a href="fale-conosco.html">Fale conosco</a>
                    </ul>
                </nav>
            </header>

            <section id="photos-body">
                <article id="main-news">
                    <header id="article-header">
                        <hgroup>
                            <h3>Glass > Fotos</h3>
                            <h1>Galeria de Imagens do Google Glass</h1>
                            <h2>por xSallus&trade;</h2>
                            <h3 class="h3-to-right">Atualizado em 09/Janeiro/2020</h3>
                        </hgroup>
                    </header>

                    <p>Veja na nossa galeria de fotos várias belas imagens que mostram algumas das principais características do Google Glass, como recursos e propriedades que estão impressionando o mundo inteiro. Basta passar o mouse sobre uma das fotos para ver uma versão ampliada e com uma breve descrição.</p>

                    <ul id="pics-book">
                        <li id="pic-01"><span>Agenda e lembretes</span></li>
                        <li id="pic-02"><span>Sergey Brin usando o Glass</span></li>
                        <li id="pic-03"><span>Leve e compacto</span></li>
                        <li id="pic-04"><span>Sensação de uma tela de 50"</span></li>
                        <li id="pic-05"><span>Vários tipos de lente</span></li>
                        <li id="pic-06"><span>Informações importantes</span></li>
                    </ul>

                </article>
            </section>

            <footer id="rodape">
                <p style="text-indent: 0;">
                Copyright &copy; 2020 - by xSallus&trade;<br>
                <a href="https://www.facebook.com/sal0mpas" target="_blank" rel="external">Facebook</a> | <a href="https://twitter.com/_xSallus_" target="_blank" rel="external">Twitter</a> | <a href="https://github.coem/xSallus" target="_blank" rel="external">GitHub</a>
                </p>
            </footer>
        </div>
    </body>
</html>