<footer id="rodape">
    <p style="text-indent: 0;">
    Copyright &copy; 2021 - by xSallus&trade;<br>
    <a href="https://www.facebook.com/sal0mpas" target="_blank" rel="external">Facebook</a> | <a href="https://twitter.com/_xSallus_" target="_blank" rel="external">Twitter</a> | <a href="https://github.coem/xSallus" target="_blank" rel="external">GitHub</a>
    </p>
</footer>