<nav id="menu">
    <h1>Menu Principal</h1>
    <ul>
        <li onmouseover="changePicture('home')" onmouseout="changePicture('glass-oculos-preto-peq')"><a href="/">Home</a>
        <li onmouseover="changePicture('especificacoes')" onmouseout="changePicture('glass-oculos-preto-peq')"><a href="/specs">Especificações</a>
        <li onmouseover="changePicture('fotos')" onmouseout="changePicture('glass-oculos-preto-peq')"><a href="/photos">Fotos</a>
        <li onmouseover="changePicture('multimidia')" onmouseout="changePicture('glass-oculos-preto-peq')"><a href="/multimidia">Multimídia</a>
        <li onmouseover="changePicture('contato')" onmouseout="changePicture('glass-oculos-preto-peq')"><a href="/fale-conosco">Fale conosco</a>
    </ul>
</nav>