@charset "UTF-8";

#pics-book {
    width: 700px;
    margin: 0px auto;
    padding: 50px;
    overflow: hidden;
    list-style: none;
}

#pics-book li {
    float:left;
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 5px solid #ffffff;
    background-color: #ffffff;
    box-shadow: 1px 1px 3px rgba(0,0,0,.4);
    -webkit-transition: all .42s ease-in;
}

#pics-book li:hover {
    -webkit-transform: scale(1.5);
}

#pics-book li span {
    opacity: 0;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000000;
    background-color: rgba(0,0,0,.1);
    font-size: 9pt;
    line-height: 370px;
    padding: 5px;
}

#pics-book li:hover span {
    opacity: 1;
}

#pic-01 {
    background: url(../images/galeria-01.jpg) no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
}
#pic-01:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}
#pic-02 { 
    background: url(../images/galeria-02.jpg) no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
}
#pic-02:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}
#pic-03 { 
    background: url(../images/galeria-03.jpg) no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
}
#pic-03:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}
#pic-04 { 
    background: url(../images/galeria-04.jpg) no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
}
#pic-04:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}
#pic-05 { 
    background: url(../images/galeria-05.jpg) no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
}
#pic-05:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}
#pic-06 { 
    background: url(../images/galeria-06.jpg) no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
}
#pic-06:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}
